<phpunit colors="true" bootstrap="test/bootstrap.php" verbose="true">
	<testsuites>
		<testsuite name="Heroine">
			<file>test/HeroineTest/ConfigTest.php</file>
			<file>test/HeroineTest/HeroineTest.php</file>
			<file>test/HeroineTest/ServiceOverrideConfigTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>